.content {
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
    height: 90vh;
  }

.search input {
    width:70%;
    height:40px;
    border:none;
    outline:none;
    font-size:20px;
    padding:0 10px;
    color:#000;
}